doctype html
html
	head
		meta(charset="utf-8")
		style
			include preload.css
	body(class="preload")
		.body-bg
			.wrapper
				header.header
					.canvas
						canvas#canvas
					.volume
						input#volume.volume--bar(type="range" min="0" max="1" step="0.001")
				main.main
					//ul#favorites
					ul#stations
					#testStations
		script(src="assets/js/main.js")
		style
			include main.css